<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card class="card">
        <!-- <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header> -->
        <mat-card-content>
            <form [formGroup]="form" class="example-form" (ngSubmit)="onSubmit()">
                <table class="example-full-width" cellspacing="0">
                    <tr *ngIf="form.errors">
                        <td>
                            <mat-progress-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-progress-spinner>
                            <mat-card>Invalid Credentials</mat-card>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Username" 
                                formControlName="username">

                                <mat-hint>required</mat-hint>
                                <div *ngIf="username.pending">Checking....</div>
                                <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
                                    <div *ngIf="username.errors.required">Username is required</div>
                                    <div *ngIf="username.errors.minlength">Minimum length is
                                        {{username.errors.minlength.requiredLength}}
                                        characters required</div>
                                    <div *ngIf="username.errors.maxlength">Maximum length is
                                        {{username.errors.maxlength.requiredLength}}
                                        characters required</div>
                                        <div *ngIf="username.errors.cannotContainSpace">Username cannot contain any space</div>
                                        <div *ngIf="username.errors.shouldBeUnique">Username is already taken</div>
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Password" 
                                formControlName="password" type="password">

                                <mat-hint>required</mat-hint>
                                <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                                    <div *ngIf="password.errors.required">Password is required</div>
                                    <div *ngIf="password.errors.minlength">Minimum length is
                                        {{password.errors.minlength.requiredLength}}
                                        characters required</div>
                                    <div *ngIf="password.errors.maxlength">Maximum length is
                                        {{password.errors.maxlength.requiredLength}}
                                        characters required</div>
                                        <div *ngIf="password.errors.cannotContainSpace">Password cannot contain any space</div>
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button 
                type="submit"                 
                color="primary">Login</button>
        </mat-card-actions>
    </mat-card>
</div>